<h1>Bindings</h1>
<hr>

<h3>단방향들..</h3>
<div [ngClass]="test">
  I'm One way binding. [ngClass]="앵귤러 변수명" 을 통한 단방향 바인딩
</div>
<div> 사실 나도 단방향이긴 해요...  {{title}}  <= {{  "{{  }\}"   }}  을 통한 바인딩</div>
<div>
  이벤트 바인딩의 예  (click)="evtBinding()" : <button (click)="evtBinding()">버튼입니당.</button>
</div>

<h3>양방향들..</h3>
양방향의 예 => {{msg}} = <input [(ngModel)]="msg" /> <br/>

<h1>Template</h1>
<hr>
<h3>ngFor</h3>

<div *ngFor="let name of namelist">
  네임 : {{name}}
</div>


<h3>ngIf</h3>
<div *ngIf="showing; else hiding">
  현재 showing 가 true 여서 나타나고 있습니다 (밑의 버튼과 연동 중..)
</div>
<ng-template #hiding>
  현재 showing 가 false
</ng-template>


<hr>

<h3>ngSwitch</h3>
<div [ngSwitch]="showing">
  <button *ngSwitchCase="true" (click)="showing=false">동작 안하게 하기</button>
  <button *ngSwitchCase="false" (click)="showing=true">동작하게 하기</button>
</div>

<hr>
<h1>그 외 </h1>
<h3>ngStyle</h3>
<div [ngStyle]="myStyle">스타일 적용된 CSS</div>
<h3>파이프</h3>
<p>{{namelist[1] | uppercase | honor }}</p>

<br><br><br>

